.upload-file{
		margin-top: -42px; width: 52%;
	}
	/*input[type="file"]{
		opacity: 0;
	}*/

	.grid-total{
		background-color: #f0ad4e;
    	border-color: #eea236;
	    color: #fff;
		cursor: hand;
		
	}
	.grid-total:hover{
		background-color:rgb(236,151,31);
		cursor: hand;
	}
	.grid-pass{
		background-color: #5cb85c;
	    border-color: #4cae4c;
	    color: #fff;
		cursor: hand;
	}
	.grid-pass:hover{
		background-color: rgb(68,157,68);
		color: #fff;
		cursor: hand;
	}

	.grid-fail{
		background-color: #d9534f;
	    border-color: #d43f3a;
	    color: #fff;
		cursor: hand;
	}
	.grid-fail:hover{
		background-color: rgb(201,48,44);
		cursor: hand;
	}

